@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
*{
	padding: 0px;
	margin: 0px;
	font-family: 'Inter', sans-serif;
}
nav{
	background-color: #011e29;
	color: white;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}
.container{
	
}
