@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
*{
	padding: 0px;
	margin: 0px;
	font-family: 'Inter', sans-serif;
    background-color: #ececec;
}
header{
	background-color: #011e29;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
h2{
    color: white;
    background-color: #011e29;
    font-weight: 600;
}
.container{
	margin: 30px;
    margin-top: 10px;
}
#wrapper{
	display: flex;
    height: 100vh;
    width: 100wh;
    gap: 10px;
	
}
h3{
    display: inline-block;
    background-color: white;
    padding: 5px;
}
p{
    background-color: white;
    padding: 10px;
}
ul li{
    background-color: white;
    padding-left: 10px;
}
#container_1{
	height: 150px;
	width: 400px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
	overflow: hidden;
	text-align: center;
}
#container_2{
	height: 250px;
	width: 700px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
	overflow: hidden;
}
#container_3{
	height: 400px;
	width: 340px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
img{
    height: 100px;
    width: 100px;
    background-color: white;
    padding: 10px;
	border-radius: 20px;
}